@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap");

body {
  background-color: white;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-header {
  height: 4rem;
  background-color: #4286f5;
  border-bottom: 1px solid #f5b142;
}

.main-footer {
  bottom: 0;
  height: 2rem;
  background-color: #4286f5;
  border-top: 1px solid #f5b142;
  color: white;
  text-align: right;
  padding-top: 10px;
  width: 100%;
  margin-top: 70px;
}

.logo {
  height: 4.1rem;
  margin-top: 14px;
  margin-left: 5px;
}
