.main {
  display: flex;
  align-items: center;

}

.intro-title {
  display: flex;
  justify-content: center;
  background-color: #4286f5;
  color: #f5b142;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Baloo 2', cursive;
}

.instructions-header {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 22px;
}

.image {
  display: flex;
  justify-content: center;
  height: 250px;
  margin: 0 auto;
}
