

.back-to-jobs-list-btn {
  background-color: blue;
  border-radius: 5px;
  text-align: center;
  /* display: flex; */
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px;
}

.back-to-jobs-list-btn a {
  text-decoration: none;
  color: #f5b142;
}


h1 {
  text-align: center;
  padding-top: 10%;
}

.user-likes-ul {
  list-style: none;
  font-display: block;
  display: flex;
  width: 80%;
  padding: 15%;
}

/* #f5b142; */
