


h1 {
  text-align: center;
}

.user-likes-ul {
  list-style: none;
  font-display: block;
  display: flex;
  width: 80%;
}

/* #f5b142; */

.back-btn  {
  border: 1px solid black;
  background-color: #4286f5;
  border-radius: 5px;
  color: #f5b142;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 10px auto 30px;
  outline: 0;
  width: 150px;

}

.back-btn a {
  color: white;
  text-decoration: none;
}

.back-btn:hover a{
  color: #f5b142;
}
